@tailwind base;
@tailwind components;
@tailwind utilities;

body,
div[data-overlay-container] {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
  border-radius: 15px;
  background: #080808;
}

::-webkit-scrollbar-track {
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #bf94ff;
}

html > ::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #080808;
}

html {
  scroll-behavior: smooth;
}
