@tailwind base;
@tailwind components;
@tailwind utilities;

body,
div[data-overlay-container] {
  width: 100vw;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
  border-radius: 15px;
  background: #ffffff;
}

::-webkit-scrollbar-track {
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #e2eafc;
}

html > ::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #000000;
}

html {
  scroll-behavior: smooth;
}
